@import "./vars.css";
*
{
  box-sizing: border-box;
}
.Login
{
  background-color: var(--color-login-button) !important;
  
  border:1px solid var(--color-border-radius)!important;
  text-decoration: none;
  color: var(--color-text-button)!important;
}
.signup
{
  text-decoration: none;
  background-color: var(--color-signup-button)!important;
  border-radius: 7px;
  border:1px solid white;
  font-weight: bold;
}

.signup:hover
{
  background-color:rgb(255, 203, 60) !important;
}
.nav
{
  background: var(--color-bg-navbar) !important;
}
.web-name
{
  color:var(--color-text);
  font-family: Arial, Helvetica, sans-serif;
}
.Searchbar
{
  display: flex;
  justify-content: center;
}
.button-response
{
  background-color: var( --color-search-button-bg);
  color:var(--color-button-search-text-color);
  font-weight: 500;
}
.text_input
{
  background-color: var(--color-search);
  color:var(--color-search-text);
  font-weight: 600;
}
.Bodyarea
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  background: var(--color-bg);
}
.Footer
{
  background: var(--color-bg);
  color: var(--color-text);
  font-family: var(--font-robot);
}
.hover-effect:hover
{
  box-shadow: 2px 3px 3px var(--color-search-hover);
}
.mode
{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 25px;
  margin-bottom: 0px !important;
  width: 30px;
  text-align: center;
  font-size: x-large;
  background-color: rgb(211, 211, 211);
  border-radius: 50%;
  border:1px solid rgb(204, 204, 204);
  background:var(--color-mode-background);
  cursor: pointer;
  color:var(--color-mode);
}
@media (max-width:680px)
{
  .button-response 
  {
     font-size:small;
     width: 3.5rem;
  }
  .text_input
  {
    height: 2rem !important;
  }

}
@media (max-width:400px)
{
  .button-response 
  {
    font-size: 0.6rem;
     width: 2.8rem;
  }
  .text_input
  {
    height: 1.7rem !important;
  }
}
@media(max-width:550px)
{
  .nav
  {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}