:root
{
  --color-text:black;
  --color-bg:radial-gradient(circle, rgba(227,227,227,1) 0%, rgba(255,251,251,1) 100%);

  --color-login-button:white;
  --color-signup-button:rgb(241, 172, 34);
  --color-mode:black;
  --color-mode-background:transparent;
  --color-text-button:black;
  --color-border-radius:black;
  --color-search-hover:blue;
  --color-search-button:black;

  --color-primary:#576cbc;
  --color-secondary:#19376d;
  --color-dark:#0b2447;
  --font-robot:"Roboto";
}

[data-theme-body="dark"]{
  --color-text:#fff;
  --color-text-button:white;
  --color-border-radius:white;
  --color-bg :rgb(26, 26, 26);
  --color-login-button:rgb(10, 10, 10);
  --color-signup-button:rgb(255, 184, 43);
  --color-mode:white;
  --color-search-hover:black;
}